

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}


nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li + li {
    margin-left: 20px;
}



main {
    padding: 20px;
}

.watches-section {
    margin-bottom: 40px;
}

.watch-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.watch {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.watch img {
    max-width: 100%;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
/* Hamburger menu  */
.hamburger-menu {
    display: none; 
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #555;
}


@media screen and (max-width: 768px) {
    #hamburger-checkbox {
        display: none; 
    }

    .hamburger-menu {
        display: block; 
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
    }

    .menu {
        display: none; 
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    #hamburger-checkbox:checked + .menu {
        display: block; 
    }
}

/* Media Queries */
/* Мал екран мобилен телефон*/
@media screen and (max-width: 576px) {
    .watch {
        width: 100%;
    }
}

/* Среден екран таблет */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .watch {
        width: 45%;
    }
}

/* Голем екран монитор */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .watch {
        width: 30%;
    }
}

/* Најголем екран XL монитор */
@media screen and (min-width: 1201px) {
    .watch {
        width: 20%;
    }
}


